{% liquid
  assign current_variant = product.selected_or_first_available_variant
%}

<div class="variant-pills" data-variant-pills>
  {% for variant in product.variants %}
    <label class="{% unless variant.available %}is-disabled{% endunless %}">
      <input
        type="radio"
        name="id"
        value="{{ variant.id }}"
        {% if variant == current_variant %}checked{% endif %}
        {% unless variant.available %}disabled{% endunless %}
        data-variant-input
        data-variant-price="{{ variant.price | money }}"
        data-variant-price-cents="{{ variant.price }}"
        data-variant-compare-price="{{ variant.compare_at_price | money }}"
        data-variant-has-compare="{% if variant.compare_at_price > variant.price %}true{% else %}false{% endif %}"
        data-variant-title="{{ variant.title | escape }}"
        data-variant-available="{{ variant.available }}"
      >
      <span>
        {{ variant.title }}
        <b>
          {% if variant.compare_at_price > variant.price %}
            <s>{{ variant.compare_at_price | money }}</s>
          {% endif %}
          {{ variant.price | money }}
        </b>
        {% unless variant.available %}<em>Sold out</em>{% endunless %}
      </span>
    </label>
  {% endfor %}
</div>
